.ourservices .grid {
    padding: 0 var(--marginGrid);
}

section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--colorPrincipal);
    text-align: center;
}

section .underline hr {
    border: 1px solid var(--colorPrincipal);
    position: absolute;
    width: 100%;
    top: -1px;
}

section .ourservices article {
    padding: calc(var(--marginGrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

.ourservices article h3 {
    margin: 0.5em 0;
}

.enlace {
    color: var(--colorPrincipal);
    font-weight: 700;
    text-decoration: none;
}

.ourservices article>div i {
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    font-size: 150%;
    padding: 0.5em;
}

.fa-truck {
    transform: rotateY(180deg);
}